<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/icon_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Monitora"
        tools:targetApi="31">
        <activity
            android:name=".ListaAparelhosActivity"
            android:exported="false" />
        <activity
            android:name=".CadastroAparelhoActivity"
            android:exported="false" />
        <activity
            android:name=".ListaUsuariosActivity"
            android:exported="false" />
        <activity
            android:name=".ListaUsuariosActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CadastroUsuarioActivity"
            android:label="Cadastro de Usuário"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ConfiguracoesActivity"
            android:exported="false"
            android:label="Instruções e Opções"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".ConfigurarActivity"
            android:label="Configuração"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".PerfilUsuarioActivity"
            android:label="Perfil de usuário"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AtualizacaoUsuarioActivity"
            android:label="Atualização de usuário"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".DatabaseHelper"
            android:label="Gerencia o banco de dados"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
    </application>

</manifest>